:root {
    --primary-color: #072854;
    --secondary-color: #0a3672;
    --background-color: #D9D9D9;
    --text-color: white;
    --success-color: #52c41a;
    --success-hover-color: #73d13d;
}

body {
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/img/fundo.jpg) no-repeat center center fixed;
    background-size: cover;
}

.login-card {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: none;
}

.login-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-content img {
    width: 200px;
    margin-bottom: 50px;
}

/* Sidebar styles */
.ant-menu-item-selected,
.ant-menu-item-active {
    background-color: var(--secondary-color) !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected span,
.ant-menu-item:hover,
.ant-menu-item .anticon {
    color: var(--text-color) !important;
}

/* Form styles */
.ant-select-selector {
    background-color: var(--background-color) !important;
}

.ant-select-selection-placeholder,
.ant-select-selection-item,
input::placeholder,
textarea::placeholder {
    color: var(--secondary-color) !important;
}

.form-label-default>label {
    font-size: 16px !important;
    color: var(--primary-color) !important;
    font-weight: 700;
}

/* Button styles */
.ant-btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--text-color);
}

.ant-btn-success:hover {
    background-color: var(--success-hover-color) !important;
    border-color: var(--success-hover-color) !important;
    color: var(--text-color) !important;
}

/* Gauge chart styles */
.gauge-chart-container {
    position: relative;
    width: 200px;
    height: 120px;
}

.gauge-chart-label,
.gauge-chart-value {
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
}

.gauge-chart-label {
    font-size: 16px;
}

.gauge-chart-value {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 26px;
}

/* Tag input styles */
.tag-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.tag-input-label {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 700;
}

.tag-input-tags {
    padding: 4px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    min-height: 80px;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
}

.tag-input-tag {
    height: 25px;
    margin: 4px;
    color: var(--primary-color);
}