body {
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/img/fundo.jpg) no-repeat center center fixed;
    background-size: cover;
}

.login-card {
    background-color: #072854;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: none;
}

.login-content img {
    width: 200px;
    margin-bottom: 50px;
}

.login-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


/* sidebar.css */
.ant-menu-item-selected {
    background-color: #0a3672 !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected span {
    color: white !important;
}

.ant-menu-item:hover {
    color: white !important;
}

.ant-menu-item-active {
    background-color: #0a3672 !important;
}

.ant-menu-item .anticon {
    color: white !important;
}

.ant-select-selector {
    background-color: #D9D9D9 !important;
    color: white !important;
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
    color: #0a3672 !important;
}

input::placeholder {
    color: #0a3672 !important;
}

textarea::placeholder {
    color: #0a3672 !important;
}

.form-label-default>label {
    font-size: 16px !important;
    color: #072854 !important;
    font-weight: 700;

}

/* styles.css */
.ant-btn-success {
    background-color: #52c41a;
    /* Cor de fundo */
    border-color: #52c41a;
    /* Cor da borda */
    color: white;

    /* Cor do texto */
    &:hover {
        background-color: #73d13d !important;
        /* Cor de fundo ao passar o mouse */
        border-color: #73d13d !important;
        color: white !important;
        /* Cor da borda ao passar o mouse */
    }
}